body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.svg-bottom, .svg-top {
    position: absolute;
}

.svg-top {
    top: -700px;
    right: -300px;
}
.svg-bottom {
    bottom: -400px;
    left: -400px;
}